h1{
    text-align: center;
    margin-top: 20px;
    color: #344D59;
}

h2{
    text-align: center;
    margin: auto;
    font-size: x-large;
    color: #344D59;
}

#about-section {
    margin-top: 50px;
}

p{
    text-align: center;
}
hr{
    width: 30%;
    height: 2px;
    color: #AD956B;
}

.content-div{
    margin: 30px;
}