<div id="about-section">
    <div style="display: flex; align-items: stretch;">
        <div class="content-div">
            <h2>Context</h2>
            <hr>
            <p>The Russo-Ukrainian conflict visualization site responds to the growing need for understanding and easy
                access to events related to this complex conflict. Faced with the overabundance of scattered, often
                contradictory information, and the difficulty for users to follow the temporal evolution of events, this
                project aims to provide an interactive and informative platform. <br>By combining an interactive map, a
                timeline, media related to each event, and an activity heatmap, the site aims to offer a complete user
                experience to understand and follow in a clear and objective manner the evolution of the Russo-Ukrainian
                conflict, while encouraging fact-checking from reliable sources.</p>
        </div>
        <div class="content-div">
            <h2>Data Sources</h2>
            <hr>
            <p>
                This data provides detailed geographic information about the regions of both countries (Russia &
                Ukraine), which is essential for
                creating an accurate interactive map. They allow events to be visualized in their spatial context. The
                laste one offer specific information (evidence, types of events, etc.)
                on events linked to the Russo-Ukrainianconflict, allowing real-time updating of the interactive map and
                timeline. <br>
                Geographic data of regions of Ukraine: <a
                    href="https://github.com/EugeneBorshch/ukraine_geojson/tree/master">https://github.com/EugeneBorshch/ukraine_geojson/tree/master</a><br>
                Geographic data for regions of Russia: <a
                    href="https://github.com/simp37/Russia_geoJSON">https://github.com/simp37/Russia_geoJSON</a><br>
                Data relating to conflict events: <a
                    href="https://geoconfirmed.org/api/placemark/Ukraine">https://geoconfirmed.org/api/placemark/Ukraine</a>
            </p>
        </div>
    </div>
    <div style="display: flex;">
        <div class="content-div">
            <h2>Pie Chart</h2>
            <hr>
            <p>
                The pie chart allows you to visualize the proportions of events depending on their type (bombing,
                military drone, etc.) and the region over a defined period. <br>A filter is carried out on each type of
                event represented on the pie chart. This filter is applied to the map in all regions linked to the
                conflict.
            </p>
        </div>
        <div class="content-div">
            <h2>Stacked bars</h2>
            <hr>
            <p>The stacked bar chart represents several series of events in bar form, with each bar subdivided into
                stacked segments for each country. <br>It provides information on the number of events linked to the
                conflict, having taken place in each country over a given period and also gives the number of ancillary
                events unrelated to the conflict. <br>This allows you to visualize the contribution of each category to
                the
                total, as well as the variations within each category over a given period.</p>
        </div>
    </div>
    <div>
        <h2>References</h2>
        <hr>
        <p>
            This project is carried out as part of our training in the <a
                href="https://lyondataviz.github.io/teaching/lyon1-m2/2023/projets.html">Data Visualizarion</a> Teaching
            Unit, <br> <a href="http://master-info.univ-lyon1.fr/IA/">Master 2 IA</a> at
            Claude Bernard Lyon 1 University. <br>
            Directed by: <b>Melvyn BERTOLONE</b> and <b>Chafaatou MAHAMADOU KONA</b> <br>
            Github : <a href="https://github.com/Belosem/DataViz-Projet">Visualisation du conflit Russo-Ukranien</a>
        </p>
    </div>
</div>