.example-spacer {
    flex: 1 1 auto;
}

.icon-text-container {
  display: flex;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

.mat-button.example-icon:hover {
  cursor: pointer;
}
