svg {
	width: 100%;
	height: 100%;
}

path.slice {
	stroke-width: 2px;
}

polyline {
	opacity: .3;
	stroke: red;
	stroke-width: 2px;
	fill: none;
}

.title-container {
	justify-content: center;
	align-items: center;
	margin: 0;

	p {
		margin: 0;
	}
}

.date-select-title {
	font-weight: bold;
	text-align: center;
	margin: 0;

}

.line-container {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 7px;
}

/* Optional: Style for the icon */
.mat-icon {
	display: flex;
	align-items: center;
}

#selected-slice {
	opacity: 0.7;	
}