<div>
  <app-toolbar></app-toolbar>

  <mat-grid-list cols="2" rowHeight="2:1">
    <!--Conflict Map tile -->
    <mat-grid-tile colspan="2" id="conflict-pannel-container">
      <app-conflict-pannel></app-conflict-pannel>
    </mat-grid-tile>
    <!--Conflict Stats tile -->
    <mat-grid-tile id="conflict-map-container">
      <div *ngIf="detailedSelectedEvents.length <= 0" class="title-container">
        <p>Aucune date séléctionnée</p>
      </div>
      <div #map class="map-container" [style.visibility]="detailedSelectedEvents.length === 0 ? 'hidden' : 'visible'"
        style="width:100%;height:100%;"></div>
    </mat-grid-tile>

    <!-- Other -->
    <mat-grid-tile id="conflict-stats-container">
      <app-pie-chart-events [parentContainerName]="'#conflict-stats-container'" [dateRange]="[startDate, endDate]" [selectedDate]="selectedDate"
        [pieChartData]="detailedSelectedEvents" [regionName]="regionName"></app-pie-chart-events>
    </mat-grid-tile>
    <!--
    <mat-grid-tile colspan="2">
      <app-conflict-map></app-conflict-map>
    </mat-grid-tile>
  -->
  </mat-grid-list>

</div>

<router-outlet></router-outlet>