mat-grid-tile {
    background: rgb(177, 177, 177);
    border: 1px solid rgb(177, 177, 177);
  }

#conflict-pannel-container, #conflict-stats-container, #conflict-map-container {
  background: white;
}