<div>
  <app-toolbar></app-toolbar>
  <mat-grid-list cols="2" rowHeight="2:1">
    <!--Conflict Map tile -->
    <mat-grid-tile colspan="2" id="conflict-pannel-container">
      <app-conflict-pannel></app-conflict-pannel>
    </mat-grid-tile>
    <!--Conflict Stats tile -->
    <mat-grid-tile id="conflict-stats-container">
      <app-conflict-stats></app-conflict-stats>
    </mat-grid-tile>
    <!-- Other -->
    <mat-grid-tile>3</mat-grid-tile>
  </mat-grid-list>

</div>

<router-outlet></router-outlet>