.region:hover {
  fill: #666;
}

.tooltip {
  color: #222;
  background-color: #fff;
  padding: 0.5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  opacity: 0.9;
  position: absolute;
}

/* Style for the select input */
.select-container {
  position: absolute;
  margin: 80px 120px 120px 120px;
  width: 40px;
  height: 40px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.element {
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #344D59;
}