.region {
  fill: #000;
  stroke: #fff;
  stroke-width: 1px;
}
.region:hover {
  fill: #666;
}
.hidden {
  display: none;
}
div.tooltip {
  color: #222;
  background-color: #fff;
  padding: 0.5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  opacity: 0.9;
  position: absolute;
}
/* Style for the select input */
.select-container {
  position: absolute;
  top: 10px;
  left: 10px;
}